.inputWrapper {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

.inputLabel {
  color: $admin-text-main;
  font-size: 14px;
  font-weight: 500;
}
.wrapper {
  position: relative;
  border-radius: 6px;
  border: transparent;
  .input {
    display: flex;
    width: 478px;
    height: 45px;
    padding: 10px;
    align-items: flex-start;
    border-radius: 6px;
    border: 1px solid $admin-input-outline;
    background: $white;
    color: $admin-text-main;
    font-size: 15px;
    line-height: normal;
    &::placeholder {
      color: $admin-gray;
    }
  }

  .icon {
    position: absolute;
    top: 30%;
    right: 0.6rem;
    font-size: 1.2rem;
    color: $gray;
  }
  .redBorder {
    border: 1px solid $admin-red;
  }

  .greenBorder {
    border: 1px solid $admin-green;
  }

  .blueBorder {
    border: 1px solid $admin-accent;
  }

  .grayBorder {
    border: 1px solid $admin-input-outline;
  }
}

.commentsWrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  align-self: stretch;
}

.counterMessage {
  color: $admin-gray;
  text-align: right;
  font-size: 12px;
}

.errorWrap {
  width: 422px;
}

.errorMessage {
  color: $admin-red;
  font-size: 12px;
  font-weight: 500;
}

.redText {
  color: $admin-red;
}
