.galary {
  width: 100%;
  max-width: 1280px;
  background-color: inherit;
  padding: 0 1rem;
  margin: 1rem auto;
  h2 {
    font-size: 1.3rem;
    font-weight: 700;
  }
  .slidersContainer {
    padding-top: 1rem;
    width: 100%;
    .slider {
      margin: 0 auto;
      width: 100%;
      overflow: hidden;
      .slideContent {
        padding-bottom: 2rem;
        .slidePhoto {
          width: 100%;
          height: 470px;
          border-radius: 5px;
          overflow: hidden;
          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
            border-radius: 5px;
          }
        }
        .slideText {
          font-size: 0.875rem;
          font-weight: 500;
          padding: 1rem 0 0.5rem;
        }
      }
    }
  }
  .errorData {
    text-align: center;
    padding: 2rem 1rem;
    font-size: 1.2rem;
    font-weight: 500;
  }
}

@media (min-width: 768px) {
  .galary {
    h2 {
      font-size: 2rem;
    }
    .slidersContainer {
      .slider {
        .slideContent {
          .slideText {
            padding: 1rem 0;
            font-size: 1rem;
            text-align: center;
          }
        }
      }
    }
  }
}

@media (min-width: 1280px) {
  .galary {
    h2 {
      font-size: 2rem;
    }
    .slidersContainer {
      position: relative;
      .slider {
        width: 86%;
        .slideContent {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          padding-bottom: 2rem;
          .slidePhoto {
            width: 100%;
            height: 470px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 5px;
            overflow: hidden;
            img {
              height: auto;
            }
          }
          .slideText {
            padding: 0.65rem 0;
          }
        }
      }
    }
  }
}
