alembic==1.12.1
asyncpg==0.29.0
fastapi[all]==0.104.1
fastapi-users[sqlalchemy]==12.1.2
psycopg2-binary==2.9.9
python-dotenv==1.0.0
sqlalchemy==2.0.23
sqladmin[full]==0.16.0
aiofiles==23.2.1
urllib3==1.26.16
cloudinary==1.36.0
fastapi-users[sqlalchemy]==12.1.2
fastapi-mail==1.4.1
fastapi-pagination==0.12.12
