.logoutButtonLink{
   display: flex;
   width: 159px;
   padding: 9px 23px 9px 30px;
   align-items: center;
   gap: 23px;

   border-radius: 0px 7px 7px 0px;
   border-top: 1px solid var(--admin-dark-purle, #7574FC);
   border-right: 1px solid var(--admin-dark-purle, #7574FC);
   border-bottom: 1px solid var(--admin-dark-purle, #7574FC);
   background: var(--admin-light-purple, #ECEFFF);

   color: var(--admin-blue, #6A65FF);
   font-family: Montserrat;
   font-size: 15px;
   font-style: normal;
   font-weight: 600;
   line-height: normal;     
         
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   .icon {
         fill: #6A65FF;
      }

   &:hover {
      color: var(--admin-white, #FFF);      
      border: 1px solid var(--admin-dark-purle, #7574FC);
      background: var(--admin-dark-purle, #7574FC);
      .icon {
            fill: var(--admin-white, #FFF);
         }
   }
}