.textAreaWrapper {
  width: 48%;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

.inputLabel {
  color: $admin-text-main;
  font-size: 14px;
  font-weight: 500;
}

.textArea {
  display: flex;
  width: 100%;
  //width: 478px;
  height: 197px;
  padding: 10px;
  align-items: flex-start;
  border-radius: 6px;
  border: 1px solid $admin-input-outline;
  background: $white;
  color: $admin-text-main;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  resize: none;
}

.commentsWrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  align-self: stretch;
}

.counterMessage {
  position: absolute;
  top: 0;
  right: 0;
  color: $admin-gray;
  text-align: right;
  font-size: 12px;
}

.errorWrap {
  width: 422px;
  height: 4rem;
}

.errorMessage {
  color: $admin-red;
  font-size: 12px;
  font-weight: 500;
}

.redBorder {
  border: 1px solid $admin-red;
}

.greenBorder {
  border: 1px solid $admin-green;
}

.blueBorder {
  border: 1px solid $admin-accent;
}

.grayBorder {
  border: 1px solid $admin-input-outline;
}

.redText {
  color: $admin-red;
}
