.button {
   display: flex;
   width: 273px;
   padding: 14px 10px;
   justify-content: center;
   align-items: center;

   color: #FFF;
   font-family: Montserrat;
   font-size: 15px;
   font-style: normal;
   font-weight: 600;
   line-height: normal;

   transition: background-color 0.3s ease;
}

.activeButton {
   border-radius: 6px;
   border: 1px solid #0047FF;
   background: #0047FF;
}

.activeButton:hover {
   border: 1px solid #7574FC;
   background: #7574FC;
}

.inactiveButton {
   border-radius: 6px;
   border: 1px solid #B7BFCC;
   background: #B7BFCC;
}

.rightButton {
   float: right;   
}
