.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  //align-items: center;
  width: 288px;
  height: 218px;
  border-radius: 20px;
  background-color: $lightgray;
  padding: 24px 16px;
  @media screen and (min-width: 768px) {
    width: 360px;
    height: 218px;
  }
  @media screen and (min-width: 1280px) {
    width: 370px;
    height: 210px;
  }

  .info {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  
    .cardTitle {
      font-size: 0.875rem; // 14px;
      font-weight: 600;
      line-height: 140%;
      font-style: normal;
      text-align: center;
      color: $black;
      @media screen and (min-width: 768px) {
        font-size: 1.25rem; // 20px;
      }
      @media screen and (min-width: 1280px) {
        color: $title-card-department;
      }
    }

    .knowMore {
      display: flex;
      flex-direction: row;
      justify-content: center;
      //align-items: center;
      margin-bottom: 35px;
      @media screen and (min-width: 768px) {
        margin-bottom: 26px;
      }
      @media screen and (min-width: 1280px) {
        margin-bottom: 25px; //45px-20px padding
      }
    }

    .verticalLine {
      width: 1px;
      height: 20px;
      background-color: $black;
    }

    .linkKnowMore {
      color: $black;
      font-size: 0.75rem; // 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 140%;
      margin: 0px 8px;
      @media screen and (min-width: 768px) {
        color: $gray;
        margin: 0px 4px;
        font-size: 16px;
      }
      @media screen and (min-width: 1280px) {
        color: $black;
        margin: 0px 4.5px;
      }
    }
  }

  .picture {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;

    width: 50%;

    & img {
      background-repeat: no-repeat;
      border-radius: 5px;
      width: 120px;
      height: 170px;
      object-fit: cover;

      @media screen and (min-width: 768px) {
        width: 160px;
      }
      @media screen and (min-width: 1280px) {
        width: 170px;
      }
    }
  }
}
