.tableWrap{
   display: flex;
   padding: 20px;
   flex-direction: column;
   align-items: flex-end;
   gap: 20px;
   align-self: stretch;

   border-radius: 7px;
   border: 1px solid #C4B9FD;
}

.table{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: 20px;
   align-self: stretch;
}

.tableEdd{
   display: flex;
   justify-content: space-between;
   align-items: center;
   align-self: stretch;
}