.container {
  .form {
    width: 100%;
    border-radius: 0.4375rem;
    border: 1px solid #c4b9fd;
    padding: 1.25rem 1.25rem 4.5rem;
    > div {
      input {
        color: $admin-accent;
        &::placeholder {
          color: $admin-accent;
        }
      }
    }
    .button {
      margin-top: 1rem;
    }
  }
}
