$black: #120000;
$white: #fffcfc;
$accent: #d66600;
$lightgray: #f3f3f3;
$gray: #666363;
$lightblue: #c2d1d9;
$graylight: #c2d1d9;
$title-card-department: #1a1a1a;
$linkColor: #120000;
$burgerMenuBG: #fffcfc;
$burgerMenuBorderColor: rgba(128, 128, 128, 0.5);
$transition: all 500ms ease;

//admin panel colors
$admin-text-main: #152340;
$admin-text-add: #26272d;
$admin-gray-text: #707e8c;
$admin-placeholders: #a3a3a3;
$admin-gray: #bbbcbe;
$admin-white: #ffffff;
$admin-background: #f6f7ff;
$admin-light-purple: #ecefff;
$admin-input-outline: #d5d9f2;
$admin-purplre-2: #bfc8fc;
$admin-blue: #6a65ff;
$admin-purple: #c4b9fd;
$admin-link: #006eff;
$admin-accent: #0047ff;
$admin-blue-2: #758bfd;
$admin-dark-purle: #7574fc;
$admin-red: rgb(255, 50, 50);
$admin-green: #00bf13;
