@import '_variables';
@import '_mixins';
@import '_placeholders';
@import './common/title';
body {
  min-height: 100vh;
}

main {
  min-height: 40vh;
  margin-top: 110px;
  @media only screen and (orientation: landscape) {
    margin-top: 76px;
  }
  @media (min-width: 768px) {
    & {
      margin-top: 135px;
    }
  }
  @media (min-width: 1280px) {
    & {
      margin-top: 167px;
    }
  }
}
